{% if content %}
    {% if content.value_section_bgimage.layout_builder_add_block %}
        {{ content.value_section_bgimage }}
    {% endif %}
    {% if content.value_section_bgimage|layout_bg_img %}
        {% set attributes = attributes.merge(content.value_section_bgimage|layout_bg_img) %}
	{% endif %}
<section {{ attributes.addClass(['mitor-core-value-section-handler','mitor-section-title--overflowable'])}}>
    <div class="container">
        <div class="section-header">
            {% if content.value_section_title %}
            <h1 {{ region_attributes.value_section_title.addClass(['section-title','h1'])}}>
                {{ content.value_section_title }}
            </h1>
            {% endif %}
            {% if content.value_section_description %}
            <h5 {{ region_attributes.value_section_description.addClass(['section-desc','h5'])}}>
                {{ content.value_section_description }}
            </h5>
            {% endif %}
        </div>
        <div class="value-list">
            <div class="row">
                {% if content.value_section_teaser %}
                    {% for item in content.value_section_teaser|array_elements(region_attributes.value_section_teaser.addClass('')) %}
                        {{ item }}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% endif %}