{% if content %}
	{% if content.contact_hero_image.layout_builder_add_block %}
		{{ content.contact_hero_image }}
	{% endif %}
	{% if content.contact_hero_image|layout_bg_img %}
		{% set attributes = attributes.merge(content.contact_hero_image|layout_bg_img) %}
	{% endif %}
	<section {{ attributes.addClass('mitor-contact-hero')}}>
		<div class="container">
			<div class="titles-handler">
				{% if content.contact_hero_title %}
					<{{settings.region_tag_contact_hero_title}} {{ content.contact_hero_title.addClass('title')}}>
						{{ content.contact_hero_title }}
					</{{settings.region_tag_contact_hero_title}}>
				{% endif %}
				<ul class="title-desc">
					{% if content.contact_hero_proute %}
						{% for item in content.contact_hero_proute|array_elements(region_attributes.teaser_container.addClass('parent-route')) %}
							<li class="parent-route">
								{{ item }}
							</li>
						{% endfor %}
					{% endif %}
				</ul>
			</div>
		</div>
	</section>
{% endif %}
