{% if content %}
<section {{ attributes.addClass('mitor-section-title') }}>
    <div class="container">
        {% if content.title|has_value or content.description|has_value %}
        <div class="section-header">
            {% if content.title %}
            <{{settings.region_tag_title}} {{ region_attributes.title.addClass('section-title') }}>
                {{ content.title }}
            </{{settings.region_tag_title}}>
            {% endif %}
            {% if content.description %}
            <div {{ region_attributes.description.addClass('section-desc') }}>
                {{ content.description }}
            </div>
            {% endif %}
        </div>
        {% endif %}
        {# for slide container #}
        {% if content.slider_container %}
        <div {{ region_attributes.slider_container.addClass('bloc-carousel')}}>
            {{ content.slider_container }}
        </div>
        {% endif %}
        {# content container #}
        {% if content.teaser_container %}
        <div class="row items"> {# please if error just add row beside items#}        
    	    {% for item in content.teaser_container|array_elements(region_attributes.teaser_container.addClass('item')) %}
    	        {{ item }} 
    	    {% endfor %}	    
        </div>
        {% endif %}
        {% if content.title_section_btn %}
        <div class="d-flex justify-content-center">        
    	    {% for item in content.title_section_btn|array_elements(region_attributes.title_section_btn.addClass('')) %}
    	        {{ item }} 
    	    {% endfor %}	    
        </div>
        {% endif %}
    <div>
</section>
{% endif %}