{% if content %}
    {% if content.overview_image.layout_builder_add_block %}
    	{{ content.overview_image }}
    {% endif %}
    {% if content.overview_image|layout_bg_img %}
    	{% set attributes = attributes.merge(content.overview_image|layout_bg_img) %}
    {% endif %}
<div {{ attributes.addClass('mitor-overview')}}>
   <div class="mitor-hero-content">
        <div class="container">
            <div class="row">
                <div class="mitor-card__body col-lg-10 ">
                    {% if content.overview_small_title %}
                    <{{settings.region_tag_overview_small_title}} {{ region_attributes.overview_small_title.addClass('mc-small')}}>
                        {{ content.overview_small_title }}
                    </{{settings.region_tag_overview_small_title}}>
                    {% endif %}
                    {% if content.overview_large_title %}
                    <{{settings.region_tag_overview_large_title }} {{ region_attributes.overview_large_title.addClass('mc-title')}}>
                        {{ content.overview_large_title }}
                    </{{settings.region_tag_overview_large_title }}>
                    {% endif %}
                    <div class="d-flex justify-content-tart">
                        <div class="mitor-play-btn">
                            {% if content.overview_button_video %}
                            <div {{ region_attributes.overview_button_video.addClass('mtb-play')}}>
                                {{ content.overview_button_video }}
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}