{% if content %}
<section {{ attributes.addClass('mitor-section-title') }}>
    <div class="container">
        <div class="section-header">
            {% if content.title %}
            <h3 {{ region_attributes.title.addClass('section-title') }}>
                {{ content.title }}
            </h3>
            {% endif %}
            {% if content.description %}
            <p {{ region_attributes.description.addClass('section-desc') }}>
                {{ content.description }}
            </p>
            {% endif %}
        </div>
    <div>
    <div class="row">
        {% if content.teaser_container %}
    	    {% for item in content.teaser_container|array_elements(region_attributes.teaser_container.addClass('')) %}
    	        {{ item }} 
    	    {% endfor %}
	    {% endif %}
        {#% if content.teaser_container %}
        <div {{ region_attributes.teaser_container.addClass('col-12')}}>
            {{ content.teaser_container }}
        </div>
        {% endif %#}
    </div> 
    <div class="d-flex justify-content-center">
    {% if content.title_section_btn %}
        {{ content.title_section_btn }}
    {% endif %}
    </div>
</section>
{% endif %}