{% if content %}
<header {{ attributes.addClass('mitor-hero ') }} >
    <div class="container">
        <div class="mitor-card row">
            <div class="mitor-card__img col-lg-6">
                {% if content.m_hero_image %}
                <div {{ region_attributes.m_hero_image.addClass('img-bloc')}} >
                    {{ content.m_hero_image }}
                </div>
                {% endif %}
            </div>
            <div class="mitor-card__body col-lg-6  ">
                {% if content.m_hero_title %}
                <h3 {{ region_attributes.m_hero_title.addClass('mc-title')}} >
                    {{ content.m_hero_title }}
                </h3>
                {% endif %}
                {% if content.m_hero_description %}
                <div {{ region_attributes.m_hero_description.addClass('mc-description')}} >
                    {{ content.m_hero_description }}
                </div>
                {% endif %}
                {% if content.m_hero_btn %}
                    {{ content.m_hero_btn }}
                {% endif %}
            </div>
        </div>
    </div>
</header>
{% endif %}