{% if content %}
	{% if content.contact_hero_image.layout_builder_add_block %}
		{{ content.contact_hero_image }}
	{% endif %}
	{% if content.contact_hero_image|layout_bg_img %}
		{% set attributes = attributes.merge(content.contact_hero_image|layout_bg_img) %}
	{% endif %}
	<section {{ attributes.addClass('mitor-contact-hero')}}>
		<div {% if settings.config_section %} class="{{ settings.config_section.type_container }} {{ settings.config_section.container_class }}" {% else %} class="container" {% endif %}>
			<div class="titles-handler">
				{% if content.contact_hero_title %}
					{% if settings.region_tag_contact_hero_title %}
    					<{{settings.region_tag_contact_hero_title}} {{ region_attributes.contact_hero_title.addClass('title')}}>
    						{{ content.contact_hero_title }}
    					</{{settings.region_tag_contact_hero_title}}>
					{% else %}
						<h2 {{ region_attributes.contact_hero_title.addClass('title')}}>
    						{{ content.contact_hero_title }}
    					</h2>
					{% endif %}
				{% endif %}
				<div class="divider mx-auto mb-4 bg-white"></div>
				<ul class="title-desc">
					{% if content.contact_hero_proute %}
						{% for item in content.contact_hero_proute|array_elements(region_attributes.contact_hero_proute.addClass('parent-route')) %}
							<li class="parent-route">
								{{ item }}
							</li>
						{% endfor %}
					{% endif %}
				</ul>
			</div>
		</div>
	</section>
{% endif %}
