{% if content %}
    <div {{ attributes.addClass('services-list') }}>
        <div class="icon">
            <span class="bg-icon">

            </span>
            {% if content.service_icon %}
            <i {{ region_attributes.service_icon.addClass('icon-flat')}} >
                {{ content.service_icon }}
            </i>
            {% endif %}
        </div>
        <div class="service-body">
        {% if content.service_title %}
            <div {{ region_attributes.service_title.addClass('service-title') }} >
                {{ content.service_title }}
            </div>
        {% endif %}
        {% if content.service_description %}
            <div {{ region_attributes.service_description.addClass('single-service-description')}} >
                {{ content.service_description }}
            </div>
        {% endif %}
            <div class="more-link">
            {% if content.service_link %}
                {% for item in content.service_link|array_elements(region_attributes.service_link.addClass('')) %}
                    {{ item }} 
                {% endfor %}
	        {% endif %}
            {#% if content.service_link %}
                {{ content.service_link|layout_value }}
            {% endif %#}
            </div>
        </div>
    </div>
{% endif %}