{% if content %}
<div {{ attributes.addClass('single-pricing-card') }} >
    <div class="card-top">
        {% if content.big_svg %}
        <div {{ region_attributes.big_svg.addClass('back-svg')}}>
            {{ content.big_svg }}
        </div>
        {% endif %}
        <div class="head">
            {% if content.small_svg %}
            <div {{ region_attributes.small_svg.addClass('head-svg') }} >
                {{ content.small_svg }}
            </div>
            {% endif %}
            {% if content.pricing_title %}
            <h6 {{ region_attributes.pricing_title.addClass('title')}} >
                {{ content.pricing_title }}
            </h6>
            {% endif %}
            {% if content.princing_price %}
            <div {{ region_attributes.princing_price.addClass('price')}} >
                {{ content.princing_price }}
            </div>
            {% endif %}
        </div>
    </div>
    {% if content.pricing_counter %}
    <div {{ region_attributes.pricing_counter.addClass('counter-handler')}}>
        {{ content.pricing_counter }}
    </div>
    {% endif %}
    <div class="card-middle">
        {% if content.pricing_elements %}
            <ul {{ region_attributes.pricing_elements.addClass('elements') }} >
                {{ content.pricing_elements }}  
            </ul>
            {#% for item in content.pricing_elements
                |array_elements(region_attributes.pricing_elements.addClass('elements')) 
            %}
                {{ item }}
            {% endfor %#}          
	    {% endif %}
    </div>
    <div class="card-bottom">
        <div class="choose">
            {% if content.princing_bottom_link %}
                {% for item in content.princing_bottom_link|array_elements(region_attributes.princing_bottom_link.addClass('link-text')) %}
                    {{ item }}
                {% endfor %}
            {% endif %}
            {% if content.pricing_bottom_svg %}
            <div {{ region_attributes.pricing_bottom_svg.addClass('svg') }} >
                {{ content.pricing_bottom_svg }}
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endif %}