{% if content %}
<div {{ attributes.addClass('value-card') }}>
    {% if content.value_card_icon %}
    <div {{ region_attributes.value_card_icon.addClass('value-icon')}}>
        {{ content.value_card_icon }}
    </div>
    {% endif %}
    {% if content.value_card_title %}
    <div {{ region_attributes.value_card_title.addClass(['value-title','h5']) }}>
        {{ content.value_card_title }}
    </div>
    {% endif %}
    {% if content.value_card_description %}
			<div {{region_attributes.value_card_description.addClass(['value-desc','value_card_description'])}}>
				{% if settings.limit_text_desc > 0 and content.value_card_description.layout_builder_add_block is empty %}
					{% set d = content.value_card_description|render|striptags|trim %}
					{{ d|length > settings.limit_text_desc ? d|slice(0,settings.limit_text_desc) ~ '...' : d}}
				{% else %}
					{{content.value_card_description}}
				{% endif %}
			</div>
	{% endif %}
</div>
{% endif %}