{% if content %}
<header {{ attributes.addClass('mitor-hero')}}>
    <div class="container">
        <div class="mitor-card row" >
            <div class="mitor-card__img col-lg-6">
                {% if content.teaser_image %}
                    <div {{ region_attributes.teaser_image.addClass('img-bloc')}} >
                        {{ content.teaser_image }}
                    </div>
                {% endif %}
            </div>
            <div class="mitor-card__body col-lg-6  ">
                {% if content.teaser_title %}
                    <h3 {{ region_attributes.teaser_title.addClass('mc-title')}} >
                        {{ content.teaser_title }}
                    </h3>
                {% endif %}
                {% if content.teaser_description %}
                    <div {{ region_attributes.teaser_description.addClass('mc-description')}} >
                        {{ content.teaser_description }}
                    </div>
                {% endif %}
                {% if content.teaser_link %}
                    {{ content.teaser_link }}
                {% endif %}
            </div>
        </div>
        <div class="carrousel-nav">
            <div class="csl-nav csl-nav--active"></div>
            <div class="csl-nav"></div>
            <div class="csl-nav"></div>
        </div>
    </div>
    {% if content.teaser_svg %}
    <div {{ region_attributes.teaser_svg.addClass('svg-1')}} >
        {{ content.teaser_svg }}
    </div>    
    {% endif %}
</header>

{% endif %}