{% if content %}
<div {{ attributes.addClass('achievments-counter') }}>
    {% if content.ach_svg %}
    <div {{ region_attributes.ach_svg.addClass()}}>
        {{ content.ach_svg }}
    </div>
    {% endif %}
    <div>
        {% if content.ach_number %}
        <span {{ region_attributes.ach_number.addClass('number') }}>
            {{ content.ach_number }}
        </span>
        {% endif %}
        {% if content.ach_sub_desc %}
        <div {{ region_attributes.ach_sub_desc.addClass('desc') }}>
            {{ content.ach_sub_desc }}
        </div>
        {% endif %}
    </div>
</div>
{% endif %}