{% if content %}
<div {{ attributes.addClass('simple-card')}} >
    {% if content.card_image %}
    <div {{ region_attributes.card_image.addClass('simple-card__img')}} >
        {{ content.card_image}}
    </div>
    {% endif %}
    <div class="simple-card__body">
        <div class="sc-user-info">
            {% if content.card_user_image %}
            <div {{ regions_attributes.card_user_image.addClass('img-bloc')}} >
                {{ content.card_user_image }}
            </div>
            {% endif %}
            <div class="user-info">
                {% if content.card_user_title %}
                <h5 {{ region_attributes.card_user_title.addClass('user-title')}}>
                    {{ content.card_user_title}}
                </h5>
                {% endif %}
                <div class="user-desc">
                    {% if content.card_user_role %}
                    <span {{ region_attributes.card_user_role.addClass('user-role')}} >
                        {{ content.card_user_role }}
                    </span>
                    {% endif %} | 
                    {% if content.card_user_date %}
                    <span {{ region_attributes.card_user_date.addClass('user-date')}} > 
                        {{ content.card_user_date }}
                    </span>
                    {% endif %}
                </div>
            </div>
        </div>
        {% if content.card_icon %}
        <div {{ region_attributes.card_icon.addClass('sc-icon')}} >
            {{ content.card_icon }}
        </div>
        {% endif %}
        {% if content.card_title %}
        <h4 {{ region_attributes.card_title.addClass('sc-title')}} >
            {{ content.card_title}}
        </h4>
        {% endif %}
        {% if content.card_description %}
        <div {{ region_attributes.card_description.addClass('sc-desc')}} >
            {{ content.card_description }}
        </div>
        {% endif %}
        {% if content.card_link %}
            {{ content.card_link }}
        {% endif %}
    </div>
</div>
{% endif %}